body{
	background-image: url(img/body1.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}



fieldset{
	background-image: url(img/body.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	width: 40px;
	height: 410px;
	/*background-color:grey;*/
	border-style: solid;
	border-color: black;
	border-width: 3px;

}

#screen{
	overflow: hidden;
	margin-left: 110px;
	width: 290px;
	height: 70px;
	background-color: green;
	text-align:right;
	font-size: 30px;
}

button{
	background-image: url(img/body2.jpg);
	background-position: center;
	background-size: cover;
	font-weight: bolder;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	width: 70px;
	height: 70px;
	margin: 5px;
	margin-top: 10px;
	margin-left: 20px;
	color: white;

}

#C{
	position: absolute;
	top: -5px;
}

main{
	width: 400px;
	margin: 100px auto;
}